*{
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  font-style: normal;
  align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(bg-img.avif);
    background-size:cover;
}
.dashboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.254);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(251, 251, 251, 0.819);
    transition-duration: 1s;
}
.dashboard:hover{
 box-shadow:0 0 6px white;
 background-color: rgba(255, 255, 255, 0.354);
}

.dropdown-menu{
background-color: rgba(255, 255, 255, 0.453) !important;
transition-duration: 1s !important;
}
.dropdown-item{
    transition-duration: 0.5s !important;
}
.dropdown {
    margin-bottom: 20px;
    margin-top: 20px;
    
}
@media(max-width:500px){
    .dashboard{
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .dashboard:hover{
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0);
    }
}
#in1 {
    margin-bottom: 30px;
    border-radius: 0.5px !important;
}

.dis {
    display: none;
}
#but2{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}
#but2:active{
box-shadow: 0 0 5px black;
}
