<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Edit</title> 
</head>
<body style="position: fixed;">
    <h1>welcome <%=data.username %></h1>
    <form action="/user/<%= data.id %>?_method=PATCH" method="post">
        <textarea name="username"><%= data.username %></textarea>
        <hr>
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">sumbit</button>
    </form>
    <form action="/user/<%=data.id %>?_method=DELETE" method="post">
    <h3>Delete user? </h3>
    <input type="password" name="password" placeholder="Enter password">
    <button type="submit">Yes</button></form>
</body>
</html>