
#box{
    height:400px;
    width:400px;
    border:2px aqua solid;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btn{
    text-align: center;
    font-size: 25px;
    border:1px black solid;
    height: 100px; width:100px;
    border-radius:10px;
    margin: 10px;
    background-color: rgba(112, 112, 112);
}
