#container{
    height: 200px;
    width: 500px;
    margin: auto;
    border: black solid;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-content: space-evenly;
  
}
h1{
    text-align: center;
    font-style: italic;
}
#container div{
    height: 60px;
    width: 150px;
}