<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/style.css">
<body style="background-color: rgb(255, 213, 149);">
   <h2>Edit your post</h2>
   <p>Post Id: <%= post.id %></p>
   <p>Post Username: <%= post.username %></p>
   <form action="">
    <textarea name="content"></textarea>
    <hr>
    <button type="submit">Submit</button>
   </form>
</body>
</html>