<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUORA</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Quora Posts</h2>
     <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@<%=post.username %></h3>
            <h4>
                <%= post.content %>
            </h4>
           <%  let s="http://localhost:8080/posts/"+post.id %>
            <a href=<%=s%> style="text-decoration: none;">show more</a>
            
        </div>
        <% } %>
            <h5 style="display: inline-block;">NEW USER?</h5>
            <button id="new">Yes</button>
       <script>
         let btn1=document.querySelector("#new")
         btn1.onclick=()=>{
         location.href="http://localhost:8080/posts/new";
         }
       </script>
</body>
</html>
