<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW USER</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/posts">
        <input type="text" placeholder="Enter username" name="username">
        <hr>
        <textarea name="content" placeholder="Write your content"></textarea>
        <hr>
        <button>Submit post</button>
    </form>
</body>
</html>