<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUORA</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Quora Posts</h2>
        <div class="post">
            <h3 class="user">@<%=post.username %></h3>
            <h5> Post ID:<%=post.id %></h5>
            <h4>
                <%= post.content %>
                <button id="edit">Edit</button>
            </h4>
        </div>
       <script>
         let btn2=document.querySelector("#edit")
         btn2.onclick=()=>{
         location.href="/posts/<%=post.id%>/edit";
         console.log("btn clicked")
}
       </script>
</body>
</html>
